<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>Rizki</div>
      <div v-for="chat in isiChat">
        <div>{{chat}}</div>
      </div>

      <input v-on:keyup.enter="send" v-model="chatBaru" type="text" />
      <button @click="send">send</button>
    </div>
    <script src="vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
